Source: python3-cyberfusion-ferm-support
Section: misc
Priority: optional
Maintainer: William Edwards <wedwards@cyberfusion.nl>
Build-Depends: python3-all, dh-python, debhelper (>= 10), python3-setuptools, pybuild-plugin-pyproject, python3-cyberfusion-common, python3-cyberfusion-systemd-support
Standards-Version: 4.3.0

Package: python3-cyberfusion-ferm-support
Architecture: all
Recommends: ferm
Depends: python3, ${python3:Depends}, ${misc:Depends}
Description: Library for ferm.
 Library for ferm.
